@import "tailwindcss";

@theme {
  --color-subText-light: #6a7282;
  --color-subText-dark: #99a1af;
}

:is(textarea, input):focus + .animation-el {
  display: block;
}

.animation-el {
  display: none;
  width: 100%;
  height: 2px;
  background-color: blue;
}

@keyframes linearScaling {
  0% {
    transform: scaleX(0);
  }
  100% {
    transoform: scaleX(1);
  }
}
